<%- include('partials/header.ejs'); %>
<h1>Easter Puzzle 2024</h1>

<%- include('partials/form-right.ejs'); %>

<%- include('partials/pieces.ejs'); %>

<%- include('partials/direct-link-container.ejs'); %>

<%- include('partials/footer.ejs'); %>